@model MobileShop.Models.Sanpham
@{
    ViewBag.Title = "AddProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="mt-2" style="text-align:center">Thêm sản phẩm mới</h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Tên sản phẩm</label>
            @Html.EditorFor(model => model.Tensp, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tensp, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            <label>Giá tiền</label>
            @Html.EditorFor(model => model.Giatien, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Giatien, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Số lượng</label>
            @Html.EditorFor(model => model.Soluong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Soluong, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Mô tả</label>
            @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Thẻ sim</label>
            @Html.EditorFor(model => model.Thesim, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Thesim, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Bộ nhớ trong</label>
            @Html.EditorFor(model => model.Bonhotrong, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bonhotrong, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>Sản phẩm mới</label>
                <select asp-for="Sanphammoi" class="form-control" id="Sanphammoi" name="Sanphammoi">
                    <option selected>True</option>
                    <option>False</option>
                </select>
                @Html.ValidationMessageFor(model => model.Sanphammoi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label>Ram</label>
            @Html.EditorFor(model => model.Ram, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ram, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Ảnh</label>
            @Html.EditorFor(model => model.Anhbia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Anhbia, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Hãng sản xuất</label>
            @Html.DropDownList("Mahang", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Mahang, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-offset-2">
                <input type="submit" value="Thêm" class="btn btn-success" />
                <a href="/Admin/Index"><button class="btn btn-danger">Hủy</button></a>
            </div>
        </div>
    </div>
}
