@model X.PagedList.IPagedList<MobileShop.Models.Chitietdonhang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="mt-2" style="text-align:center">Chi tiết đơn hàng</h2>
<table class="table table-bordered">
    <tr>
        <th>Mã đơn</th>
        <th>Mã sản phẩm</th>
        <th>Số lượng sản phẩm</th>
        <th>Đơn giá</th>
        
        <th>Thành tiền</th>
        
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Madon</td>
    <td>@item.Masp</td>


    <td>@item.Soluong</td>
    <td>@item.Dongia</td>
    <td>@item.Thanhtien</td>
    <td>
        <a href="/Admin/DonhangIndex">Trở lại </a>
        
    </td>
</tr>
    }
</table>
<br />