@model MobileShop.Models.Hangsanxuat
@{
    ViewBag.Title = "EditHang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="mt-2" style="text-align:center">Sửa hãng sản xuất</h2>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Mahang)
        <div class="form-group">
            <label>Tên hãng</label>
            @Html.EditorFor(model => model.Tenhang, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Tenhang, "", new { @class = "text-danger" })
        </div>
        

        <div class="form-group">
            <div class="col-md-offset-2 mb-1">
                <input type="submit" value="Sửa" class="btn btn-success" />
                <a href="/Admin/HangsanxuatIndex"><button class="btn btn-danger">Hủy</button></a>
            </div>
            @Html.ActionLink("Xoá", "DeleteHang", new { id = Model.Mahang })
        </div>
    </div>
}
