@model X.PagedList.IPagedList<MobileShop.Models.Sanpham>
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2 class="mt-2" style="text-align:center">Quản lý sản phẩm</h2>
<p>
    <a href="/Admin/AddProduct"><button class="btn btn-success">Thêm sản phẩm mới</button></a>
</p>
<table class="table table-bordered">
    <tr>
        <th>Mã sản phẩm</th>
        <th>Tên sản phẩm</th>
        <th>Giá tiền</th>
        <th>Số lượng</th>
        <th>Mô tả</th>
        <th>Thẻ sim</th>
        <th>Bộ nhớ trong</th>
        <th>Sản phẩm mới</th>
        <th>Ram</th>
        <th>Ảnh bìa</th>
        <th>Tên hãng</th>
        <th>Chỉnh sửa</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Masp</td>
            <td>@item.Tensp</td>
            <td>@item.Giatien</td>
            <td>@item.Soluong</td>
            <td>@item.Mota</td>
            <td>@item.Thesim</td>
            <td>@item.Bonhotrong</td>
            <td>@item.Sanphammoi.Value</td>
            <td>@item.Ram</td>
            <td>
                <img src="@Url.Content(item.Anhbia)" width="50" height="50" />
            </td>
            <td>@((ViewBag.Hangsanxuats as IList<MobileShop.Models.Hangsanxuat>).FirstOrDefault(c => c.Mahang == item.Mahang).Tenhang)</td>
            <td>
                <a href="/Admin/EditProduct/@item.Masp">Sửa</a>
            </td>
        </tr>
    }
</table>
<br />
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index",new { page }))




