@using MobileShop.Models
@model X.PagedList.IPagedList<MobileShop.Models.Sanpham>
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Product List";
}

<br />
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" src="https://cdn.tgdd.vn/2021/11/banner/830-300-830x300-2.png" />
    </div>
    <div class="col-md-4">
        <img src="https://cdn.tgdd.vn/2021/11/banner/laptopdesk(3)-340x340.jpg" class="img-responsive" alt="" />

    </div>
</div>
<div>
    <img class="img-responsive" src="https://cdn.tgdd.vn/2021/10/banner/1200-44-1200x44.png" />
</div>
<br />
<div class="row">
    <div class="col-lg-3 p-0">
        <table class="table table-light table-hover border-bottom-10">
            <thead>
                <tr>
                    <th class="text-center navbar-brand bg-secondary">Danh mục</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center bg-dark">
                        <a class="navbar-brand text-warning" href="/Sanpham">Tất cả sản phẩm</a>
                    </td>
                </tr>
                @foreach (var item in ViewBag.Hangsanxuats)
                {
                    <tr>
                        <td class="text-center  bg-dark">
                            @{ string tenhang = item.Tenhang;}
                            @Html.ActionLink(@tenhang, "Index", "Sanpham", new { Mahang = item.Mahang }, new { @class = "navbar-brand text-warning" })
                            @*<a class="navbar-brand text-warning" href="/Sanpham/Index/@item.Mahang">@item.Tenhang</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="dt col-lg-9">
        <div class="dt col-lg-12">
            <div class="row">
                <h3 style="text-align: center; background-color: palevioletred; border-radius: 30px; color: whitesmoke"> Danh sách sản phẩm </h3>
                @foreach (var item in Model)
                {
                    <div  class="col-md-4" style="padding: 5px;">
                        <div style="padding: 5px; border: 1px solid grey; background-color: lavender; border-radius: 20px; height: 450px; margin-bottom: 5px">
                            <div>
                                <img style="width: 100%; margin-top: 15px;" src="@Url.Content(item.Anhbia)" />
                                <div class="p-4">
                                    <div class="text-center">
                                        <h4><a style="font-size:20px; color:black; text-align: center" href="/Sanpham/Detail/@item.Masp">@item.Tensp</a></h4>
                                        <span>Giá: @item.Giatien</span>
                                    </div>
                                </div>
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp }))
                                        {
                                            if (item.Soluong < 1)
                                            {
                                                <button disabled class="btn btn-outline-dark text-dark">
                                                    <i class="bi-cart-fill me-1"></i>Hết hàng
                                                </button>
                                            }
                                            else
                                            {
                                                <input class="btn btn-danger" type="submit" value="Mua hàng" id="bgnGioHang" />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="text-center" style="margin-top:20px">
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>
