@using MobileShop.Models
@model X.PagedList.IPagedList<MobileShop.Models.Sanpham>
@using X.PagedList.Mvc.Core;
@{
    ViewBag.Title = "Product List";

    var listIphone = ViewData["iphone"] as List<Sanpham>;
    var listSumsung = ViewData["samsung"] as List<Sanpham>;
    var listXiaomi = ViewData["xiaomi"] as List<Sanpham>;
}

<br />
<div class="row">
    <div class="col-md-8">
        <img class="img-responsive" src="https://cdn.tgdd.vn/2021/11/banner/830-300-830x300-2.png" />
    </div>
    <div class="col-md-4">
        <img src="https://cdn.tgdd.vn/2021/11/banner/laptopdesk(3)-340x340.jpg" class="img-responsive" alt="" />

    </div>
</div>
<div>
    <img class="img-responsive" src="https://cdn.tgdd.vn/2021/10/banner/1200-44-1200x44.png" />
</div>
<br />
<div class="spnoibat">
    <div class="row">

        <h3> SẢN PHẨM NỔI BẬT</h3>
        <div class="col-md-4">
            <img src="https://cdn.tgdd.vn/Products/Images/42/213033/iphone-12-pro-max-xanh-duong-new-600x600-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="https://cdn.tgdd.vn/Products/Images/42/248283/samsung-galaxy-z-flip-3-green-1-600x600.jpg" class="img-responsive" alt="" />
        </div>
        <div class="col-md-4">
            <img src="https://cdn.tgdd.vn/Products/Images/42/248284/samsung-galaxy-z-fold-3-green-1-600x600.jpg" class="img-responsive" alt="" />
        </div>
    </div>
</div>

<div class="col-lg-3">
    <div class="shop-sidebar">

        <div class="single-widget category">
            <h3 class="title">Categories</h3>
            <ul class="categor-list">
                <li><a href="#">T-shirts</a></li>
                <li><a href="#">jeans</a></li>
                <li><a href="#">sneakers</a></li>
            </ul>
        </div>

        <div class="single-widget category">
            <h3 class="title">Product</h3>
            <ul class="categor-list">
                <li><a href="shopGrid?pname=gucci">Gucci</a></li>
                <li><a href="shopGrid?pname=jordan">Jordan</a></li>
                <li><a href="shopGrid?pname=versace">Versace</a></li>
                <li><a href="shopGrid?pname=vans">Vans</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="dt col-lg-9">
    <div class="dt col-lg-12">
        <div class="row">
            <div class=" bg-danger"><h3 style="padding-left: 20px; background-color: #5B6E6E; border-radius: 30px "> IPHONE </h3></div>
            @foreach (Sanpham item in listIphone)
            {
                <div class="col-md-3 col-sm-6">
                    <center>
                        <a href="/Sanpham/Detail/@item.Masp"><img src="@Url.Content(item.Anhbia)" width="50" height="50" /></a>
                        <br />
                        <p style="font-size:20px"><a href="/Sanpham/Detail/@item.Masp">@item.Tensp</a></p>
                        <h3 style="color:red">Giá: @item.Giatien</h3>
                        <h3 style="text-decoration: underline">
                            @if (item.Sanphammoi == true)
                            {
                                <td>Hàng mới về</td>
                            }
                            else
                            {
                                <td>Hàng cũ</td>
                            }
                        </h3>
                        <br />
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp }))
                        {
                            <input type="submit" value="Mua hàng" id="bgnGioHang" />
                        }
                    </center>
                </div>
            }
        </div>

        @*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
    </div>

    <div class="dt col-lg-12">
        <div class="row">
            <div class=" bg-danger"><h3 style="padding-left: 20px; background-color: #5B6E6E; border-radius: 30px "> Sumsung </h3></div>
            @foreach (Sanpham item in listSumsung)
            {
                <div class="col-md-3 col-sm-6">
                    <center>
                        <a href="/Sanpham/Detail/@item.Masp"><img src="@Url.Content(item.Anhbia)" width="50" height="50" /></a>
                        <br />
                        <p style="font-size:20px"><a href="/Sanpham/Detail/@item.Masp">@item.Tensp</a></p>
                        <h3 style="color:red">Giá: @item.Giatien</h3>
                        <h3 style="text-decoration: underline">
                            @if (item.Sanphammoi == true)
                            {
                                <td>Hàng mới về</td>
                            }
                            else
                            {
                                <td>Hàng cũ</td>
                            }
                        </h3>
                        <br />
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp }))
                        {
                            <input type="submit" value="Mua hàng" id="bgnGioHang" />
                        }
                    </center>
                </div>
            }
        </div>
    </div>

    <div class="dt col-lg-12">
        <div class="row">
            <div class=" bg-danger"><h3 style="padding-left: 20px; background-color: #5B6E6E; border-radius: 30px "> Xiaomi </h3></div>
            @foreach (Sanpham item in listXiaomi)
            {
                <div class="col-md-3 col-sm-6">
                    <center>
                        <a href="/Sanpham/Detail/@item.Masp"><img src="@Url.Content(item.Anhbia)" width="50" height="50" /></a>
                        <br />
                        <p style="font-size:20px"><a href="/Sanpham/Detail/@item.Masp">@item.Tensp</a></p>
                        <h3 style="color:red">Giá: @item.Giatien</h3>
                        <h3 style="text-decoration: underline">
                            @if (item.Sanphammoi == true)
                            {
                                <p>Hàng mới về</p>
                            }
                            else
                            {
                                <p>Hàng cũ</p>
                            }
                        </h3>
                        <br />
                        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMasp = item.Masp }))
                        {
                            <input type="submit" value="Mua hàng" id="bgnGioHang" />
                        }
                        <br />
                    </center>
                </div>
            }
        </div>
    </div>
</div>



